In [ ]:
import pandas as pd
import requests

# P1

In [ ]:
file_url = "https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XzOA8m4lr27P0HaO3_srSB&spid=47160F4E98FE&reportdate=2021-01-01&enddate=2021-01-31&dir=0&excel=1"

file_data = requests.get(file_url).content
# create the file in write binary mode, because the data we get from net is in binary
with open("file.xls", "wb") as file:
    file.write(file_data)

In [ ]:
data = pd.read_html('file.xls')
df = data[5]

In [ ]:
id = data[0][1][1]
id

'000000001282'

In [ ]:
df = df.iloc[:24, :-3]

In [ ]:
df.columns = [x[1] for x in df.columns]

In [ ]:
df

,Time,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,2021-01-09,...,2021-01-22,2021-01-23,2021-01-24,2021-01-25,2021-01-26,2021-01-27,2021-01-28,2021-01-29,2021-01-30,2021-01-31
0,00:00:00,13,7,11,7,13,17,25,18,23,...,14,22,19,12,23,9,12,10,32,10
1,01:00:00,15,5,11,1,4,15,13,8,21,...,21,14,12,8,10,15,16,16,12,7
2,02:00:00,8,11,4,6,9,13,9,11,12,...,17,25,12,14,24,11,18,15,14,6
3,03:00:00,3,10,11,11,33,13,23,22,101,...,11,88,14,19,8,18,27,15,86,10
4,04:00:00,5,14,10,20,22,24,28,23,62,...,20,62,42,28,21,52,21,20,35,28
5,05:00:00,26,59,47,112,112,128,143,128,67,...,129,75,82,150,125,133,131,135,74,76
6,06:00:00,135,202,255,751,794,811,804,791,266,...,901,349,302,835,1032,983,1004,947,362,306
7,07:00:00,124,195,181,1020,1021,983,955,1021,298,...,1253,303,276,1225,1266,1262,1298,1211,298,221
8,08:00:00,58,115,75,630,550,615,590,590,153,...,680,159,104,752,710,751,740,669,155,95
9,09:00:00,50,102,77,343,362,362,358,369,175,...,458,181,100,456,400,441,439,392,143,102
10,10:00:00,61,133,105,314,330,334,334,363,176,...,454,198,120,391,406,455,394,412,193,116
11,11:00:00,121,182,154,380,390,387,358,390,209,...,479,271,178,419,441,416,434,461,244,129
12,12:00:00,206,207,224,423,434,494,408,513,286,...,563,321,215,529,486,496,516,618,267,153
13,13:00:00,254,262,261,402,411,482,457,595,324,...,696,358,307,518,498,544,510,652,274,205
14,14:00:00,273,275,304,519,538,501,458,793,328,...,850,375,323,567,575,492,492,850,304,221
15,15:00:00,248,282,329,603,593,690,604,821,350,...,925,427,327,700,688,704,692,964,316,234
16,16:00:00,249,248,263,868,845,838,836,595,380,...,597,354,259,1127,1069,1042,1051,641,329,246
17,17:00:00,171,192,216,600,644,632,650,437,267,...,529,317,258,808,815,865,810,527,286,215
18,18:00:00,205,288,293,593,666,755,716,617,403,...,641,421,355,766,817,880,803,690,408,396
19,19:00:00,165,208,256,337,338,344,350,344,302,...,399,248,291,405,432,422,449,382,246,261
20,20:00:00,64,76,111,92,107,113,123,99,79,...,146,79,101,133,138,150,149,119,82,110
21,21:00:00,54,47,58,52,81,45,77,89,63,...,91,45,54,65,79,87,72,78,50,58
22,22:00:00,40,37,35,33,43,48,39,47,38,...,43,37,34,41,50,50,50,51,34,33
23,23:00:00,25,24,21,47,35,32,52,34,39,...,38,21,23,42,53,59,49,28,30,25

In [ ]:
df2 = df.melt(id_vars=['Time'], var_name=['Date'])
df2["datetime"] = df2["Date"] + " " + df2["Time"]
df2 = df2[["datetime", "value"]]
df2["datetime"] = df2["datetime"].astype("datetime64")
df2["id"] = id
df2 = df2[["datetime", "id", "value"]]
df2

               datetime            id value
0   2021-01-01 00:00:00  000000001282    13
1   2021-01-01 01:00:00  000000001282    15
2   2021-01-01 02:00:00  000000001282     8
3   2021-01-01 03:00:00  000000001282     3
4   2021-01-01 04:00:00  000000001282     5
..                  ...           ...   ...
739 2021-01-31 19:00:00  000000001282   261
740 2021-01-31 20:00:00  000000001282   110
741 2021-01-31 21:00:00  000000001282    58
742 2021-01-31 22:00:00  000000001282    33
743 2021-01-31 23:00:00  000000001282    25

[744 rows x 3 columns]

# P2

In [ ]:
location_df = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/Location_Official_2.csv")
# location_df = location_df[:2]
location_df

,Site Name,SgidSpid,Location
0,TMU N27 000.0 N,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F9E3793B6432,"51.86242, -8.47908"
1,TMU N40 005.5 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=00CB482ECD32,"51.87619, -8.49964"
2,TMU N40 004.5 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=275F808BB259,"51.87567, -8.51047"
3,TMU N40 002.5 E,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F5FD2E754102,"51.87281, -8.53436"
4,TMU N40 000.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=36F804B24689,"51.87636, -8.56072"
5,TMU N22 010.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=2E424106C30B,"51.88714, -8.56911"
6,TMU N40 010.0 E,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=0020B40EAB83,"51.87488, -8.44783"
7,TMU N40 005.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=B4B084EBD8B7,"51.87942, -8.43249"
8,TMU N28 001.0 S,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=55F77DFA0999,"51.87578, -8.41266"
9,TMU N40 010.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=5C82E9FCACEC,"51.88229, -8.4076"
10,TMU N40 015.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=7709C672BB02,"51.88825, -8.39061"

In [ ]:
df = pd.DataFrame()

dict_date = {"thang1": ["2021-01-01", "2021-01-31"],
             "thang2": ["2021-02-01", "2021-02-28"],
             "thang3": ["2021-03-01", "2021-03-31"],
             "thang4": ["2021-04-01", "2021-04-30"],
             "thang5": ["2021-05-01", "2021-05-31"],
             "thang6": ["2021-06-01", "2021-06-30"],
             "thang7": ["2021-07-01", "2021-07-31"],
             "thang8": ["2021-08-01", "2021-08-31"],
             "thang9": ["2021-09-01", "2021-09-30"],
             "thang10": ["2021-10-01", "2021-10-31"],
             "thang11": ["2021-11-01", "2021-11-30"],
             "thang12": ["2021-12-01", "2021-12-31"],
             }

for i in range(len(location_df)):
  location = location_df["Location"][i]
  sgid_spid = location_df["SgidSpid"][i]
  print("Location " + str(i) + ": " + location_df["Site Name"][i])

  for k in dict_date:
    print(" ----- " + k)
    for j in [-1,-2]:
      file_url = "https://trafficdata.tii.ie/tfdaysreport.asp?{}&reportdate={}&enddate={}&dir={}&excel=1".format(sgid_spid, dict_date[k][0], dict_date[k][1], j)
      file_data = requests.get(file_url).content
      # create the file in write binary mode, because the data we get from net is in binary
      with open("file.xls", "wb") as file:
          file.write(file_data)
      data = pd.read_html('file.xls')
      df2 = data[5]
      id = data[0][1][1]
      df2 = df2.iloc[:24, :-3]
      df2.columns = [x[1] for x in df2.columns]
      df2 = df2.melt(id_vars=['Time'], var_name=['Date'])
      df2["datetime"] = df2["Date"] + " " + df2["Time"]
      df2 = df2[["datetime", "value"]]
      df2["datetime"] = df2["datetime"].astype("datetime64")
      # df2["value"] = df2["value"].astype("int64")
      if (j == -1):
        df2["id"] = id + "A"   
      else:
        df2["id"] = id + "B" 
      df2["location"] = location
      df2 = df2[["id", "datetime", "location", "value"]]
      df = pd.concat([df, df2], ignore_index=True)

df

Location 0: TMU N27 000.0 N
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 1: TMU N40 005.5 W
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 2: TMU N40 004.5 W
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 3: TMU N40 002.5 E
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 4: TMU N40 000.0 W
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 5: TMU N22 010.0 W
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 6: TMU N40 010.0 E
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 7: TMU N40 005.0 W
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 8: TMU N28 001.0 S
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 9: TMU N40 010.0 W
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12
Location 10: TMU N40 015.0 W
 ----- thang1
 ----- thang2
 ----- thang3
 ----- thang4
 ----- thang5
 ----- thang6
 ----- thang7
 ----- thang8
 ----- thang9
 ----- thang10
 ----- thang11
 ----- thang12

                   id            datetime            location value
0       000000001271A 2021-01-01 00:00:00  51.86242, -8.47908    17
1       000000001271A 2021-01-01 01:00:00  51.86242, -8.47908     7
2       000000001271A 2021-01-01 02:00:00  51.86242, -8.47908     8
3       000000001271A 2021-01-01 03:00:00  51.86242, -8.47908     8
4       000000001271A 2021-01-01 04:00:00  51.86242, -8.47908     5
...               ...                 ...                 ...   ...
192715  000000001256B 2021-12-31 19:00:00  51.88825, -8.39061   768
192716  000000001256B 2021-12-31 20:00:00  51.88825, -8.39061   531
192717  000000001256B 2021-12-31 21:00:00  51.88825, -8.39061   277
192718  000000001256B 2021-12-31 22:00:00  51.88825, -8.39061   212
192719  000000001256B 2021-12-31 23:00:00  51.88825, -8.39061   146

[192720 rows x 4 columns]

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/final_data.csv")
df

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,iwdsp,wdsp,iwddir,wddir,ww,w,sun,vis,clht,clamt
0,1271,2021-01-01 00:00:00,"51.86242, -8.47908",27.0,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
1,1716,2021-01-01 00:00:00,"51.85265, -8.52882",31.0,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
2,1403,2021-01-01 00:00:00,"51.87619, -8.49964",236.0,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
3,1404,2021-01-01 00:00:00,"51.87567, -8.51047",156.0,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
4,1405,2021-01-01 00:00:00,"51.87281, -8.53436",105.0,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157675,1256,2021-12-31 23:00:00,"51.88825, -8.39061",273.0,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
157676,1081,2021-12-31 23:00:00,"51.90461, -8.41296",262.0,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
157677,200811,2021-12-31 23:00:00,"51.90523, -8.39022",261.0,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
157678,20258,2021-12-31 23:00:00,"51.90728, -8.35638",268.0,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
157679,20085,2021-12-31 23:00:00,"51.9161, -8.38155",80.0,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192720 entries, 0 to 192719
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        192720 non-null  object
 1   datetime  192720 non-null  datetime64[ns]
 2   location  192720 non-null  object
 3   value     192720 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.9+ MB

In [ ]:
df_null = df[df['value'].isnull()]
df_null

                   id            datetime            location value
3481    000000001271A 2021-03-28 01:00:00  51.86242, -8.47908   NaN
4225    000000001271B 2021-03-28 01:00:00  51.86242, -8.47908   NaN
21001   000000001403A 2021-03-28 01:00:00  51.87619, -8.49964   NaN
21745   000000001403B 2021-03-28 01:00:00  51.87619, -8.49964   NaN
38521   000000001404A 2021-03-28 01:00:00  51.87567, -8.51047   NaN
39265   000000001404B 2021-03-28 01:00:00  51.87567, -8.51047   NaN
56041   000000001405A 2021-03-28 01:00:00  51.87281, -8.53436   NaN
56785   000000001405B 2021-03-28 01:00:00  51.87281, -8.53436   NaN
73561   000000001255A 2021-03-28 01:00:00  51.87636, -8.56072   NaN
74305   000000001255B 2021-03-28 01:00:00  51.87636, -8.56072   NaN
91081   000000020223A 2021-03-28 01:00:00  51.88714, -8.56911   NaN
91825   000000020223B 2021-03-28 01:00:00  51.88714, -8.56911   NaN
108601  000000001253A 2021-03-28 01:00:00  51.87488, -8.44783   NaN
109345  000000001253B 2021-03-28 01:00:00  51.87488, -8.44783   NaN
161161  000000001258A 2021-03-28 01:00:00   51.88229, -8.4076   NaN
161905  000000001258B 2021-03-28 01:00:00   51.88229, -8.4076   NaN
178681  000000001256A 2021-03-28 01:00:00  51.88825, -8.39061   NaN
179425  000000001256B 2021-03-28 01:00:00  51.88825, -8.39061   NaN

In [ ]:
df_null

                   id            datetime            location value
3481    000000001271A 2021-03-28 01:00:00  51.86242, -8.47908   NaN
4225    000000001271B 2021-03-28 01:00:00  51.86242, -8.47908   NaN
21001   000000001403A 2021-03-28 01:00:00  51.87619, -8.49964   NaN
21745   000000001403B 2021-03-28 01:00:00  51.87619, -8.49964   NaN
38521   000000001404A 2021-03-28 01:00:00  51.87567, -8.51047   NaN
39265   000000001404B 2021-03-28 01:00:00  51.87567, -8.51047   NaN
56041   000000001405A 2021-03-28 01:00:00  51.87281, -8.53436   NaN
56785   000000001405B 2021-03-28 01:00:00  51.87281, -8.53436   NaN
73561   000000001255A 2021-03-28 01:00:00  51.87636, -8.56072   NaN
74305   000000001255B 2021-03-28 01:00:00  51.87636, -8.56072   NaN
91081   000000020223A 2021-03-28 01:00:00  51.88714, -8.56911   NaN
91825   000000020223B 2021-03-28 01:00:00  51.88714, -8.56911   NaN
108601  000000001253A 2021-03-28 01:00:00  51.87488, -8.44783   NaN
109345  000000001253B 2021-03-28 01:00:00  51.87488, -8.44783   NaN
161161  000000001258A 2021-03-28 01:00:00   51.88229, -8.4076   NaN
161905  000000001258B 2021-03-28 01:00:00   51.88229, -8.4076   NaN
178681  000000001256A 2021-03-28 01:00:00  51.88825, -8.39061   NaN
179425  000000001256B 2021-03-28 01:00:00  51.88825, -8.39061   NaN

In [ ]:
for i in df_null.index:
  id = df.loc[i, "id"]
  df.loc[i, "value"] = round(df[(df.id==id) & ((df.datetime=="2021-03-21 01:00:00") | 
                                                 (df.datetime=="2021-03-14 01:00:00") | 
                                                 (df.datetime=="2021-03-07 01:00:00"))]["value"].astype("int64").mean())

In [ ]:
round(df[(df.id==id) & ((df.datetime=="2021-03-21 01:00:00") | 
                                                 (df.datetime=="2021-03-14 01:00:00") | 
                                                 (df.datetime=="2021-03-07 01:00:00"))]["value"].mean())

182090

In [ ]:
df[(df.id==id) & ((df.datetime=="2021-03-21 01:00:00") | 
                                                 (df.datetime=="2021-03-14 01:00:00") | 
                                                 (df.datetime=="2021-03-07 01:00:00"))]["value"].astype("int64").mean()

62.333333333333336

In [ ]:
df[df['datetime']=="2021-03-28 01:00:00"]

                   id            datetime            location value
3481    000000001271A 2021-03-28 01:00:00  51.86242, -8.47908     9
4225    000000001271B 2021-03-28 01:00:00  51.86242, -8.47908     9
21001   000000001403A 2021-03-28 01:00:00  51.87619, -8.49964    60
21745   000000001403B 2021-03-28 01:00:00  51.87619, -8.49964    66
38521   000000001404A 2021-03-28 01:00:00  51.87567, -8.51047    48
39265   000000001404B 2021-03-28 01:00:00  51.87567, -8.51047    41
56041   000000001405A 2021-03-28 01:00:00  51.87281, -8.53436    28
56785   000000001405B 2021-03-28 01:00:00  51.87281, -8.53436    33
73561   000000001255A 2021-03-28 01:00:00  51.87636, -8.56072    30
74305   000000001255B 2021-03-28 01:00:00  51.87636, -8.56072    26
91081   000000020223A 2021-03-28 01:00:00  51.88714, -8.56911    14
91825   000000020223B 2021-03-28 01:00:00  51.88714, -8.56911    12
108601  000000001253A 2021-03-28 01:00:00  51.87488, -8.44783    76
109345  000000001253B 2021-03-28 01:00:00  51.87488, -8.44783    71
126121  000000001401A 2021-03-28 01:00:00  51.87942, -8.43249    12
126865  000000001401B 2021-03-28 01:00:00  51.87942, -8.43249     9
143641  000000001283A 2021-03-28 01:00:00  51.87578, -8.41266    12
144385  000000001283B 2021-03-28 01:00:00  51.87578, -8.41266     7
161161  000000001258A 2021-03-28 01:00:00   51.88229, -8.4076    48
161905  000000001258B 2021-03-28 01:00:00   51.88229, -8.4076    59
178681  000000001256A 2021-03-28 01:00:00  51.88825, -8.39061    45
179425  000000001256B 2021-03-28 01:00:00  51.88825, -8.39061    62

In [ ]:
df.datetime = df.datetime.astype("datetime64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157680 entries, 0 to 157679
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        157680 non-null  int64
 1   datetime  157680 non-null  datetime64[ns]
 2   location  157680 non-null  object
 3   value     157680 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 4.8+ MB

In [ ]:
df['value'] = df['value'].astype("int64")

In [ ]:
df[((df['id'] == "000000001256A") | (df['id'] == "000000001256B")) & (df['datetime'] == "2021-12-31 23:00:00")]

                   id            datetime            location  value
191975  000000001256A 2021-12-31 23:00:00  51.88825, -8.39061    127
192719  000000001256B 2021-12-31 23:00:00  51.88825, -8.39061    146

In [ ]:
df

                   id            datetime            location  value
0       000000001271A 2021-01-01 00:00:00  51.86242, -8.47908     17
1       000000001271A 2021-01-01 01:00:00  51.86242, -8.47908      7
2       000000001271A 2021-01-01 02:00:00  51.86242, -8.47908      8
3       000000001271A 2021-01-01 03:00:00  51.86242, -8.47908      8
4       000000001271A 2021-01-01 04:00:00  51.86242, -8.47908      5
...               ...                 ...                 ...    ...
192715  000000001256B 2021-12-31 19:00:00  51.88825, -8.39061    768
192716  000000001256B 2021-12-31 20:00:00  51.88825, -8.39061    531
192717  000000001256B 2021-12-31 21:00:00  51.88825, -8.39061    277
192718  000000001256B 2021-12-31 22:00:00  51.88825, -8.39061    212
192719  000000001256B 2021-12-31 23:00:00  51.88825, -8.39061    146

[192720 rows x 4 columns]

## Save

In [ ]:
df.to_csv("data_p3.csv", index=False)
!mv /content/data_p3.csv "/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset"

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/final_data_2.csv")
df

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,iwdsp,wdsp,iwddir,wddir,ww,w,sun,vis,clht,clamt
0,000000001271A,2021-01-01 00:00:00,"51.86242, -8.47908",17,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
1,000000001271B,2021-01-01 00:00:00,"51.86242, -8.47908",10,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
2,000000001403A,2021-01-01 00:00:00,"51.87619, -8.49964",125,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
3,000000001403B,2021-01-01 00:00:00,"51.87619, -8.49964",111,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
4,000000001404A,2021-01-01 00:00:00,"51.87567, -8.51047",86,0,0.0,0,3.2,0,2.4,...,2,14,2,340,2,81,0.0,25000,999,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001283B,2021-12-31 23:00:00,"51.87578, -8.41266",117,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192716,000000001258A,2021-12-31 23:00:00,"51.88229, -8.4076",126,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192717,000000001258B,2021-12-31 23:00:00,"51.88229, -8.4076",144,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192718,000000001256A,2021-12-31 23:00:00,"51.88825, -8.39061",127,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7
192719,000000001256B,2021-12-31 23:00:00,"51.88825, -8.39061",146,0,0.0,0,11.0,0,10.6,...,2,17,2,160,10,22,0.0,6000,8,7

In [ ]:
df_link = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/Link_Official.csv")
df_link

,Id,20223,GL1,1255,1405,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000020223A,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1,000000020223B,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,000000001255A,0,1,1,0,0,0,0,0,0,0,0,0,0,0
3,000000001255B,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,000000001405A,0,0,0,1,1,0,0,0,0,0,0,0,0,0
5,000000001405B,0,0,1,1,0,0,0,0,0,0,0,0,0,0
6,000000001404A,0,0,0,1,1,0,0,0,0,0,0,0,0,0
7,000000001404B,0,0,0,0,1,1,0,0,0,0,0,0,0,0
8,000000001403A,0,0,0,0,0,1,1,0,0,0,0,0,0,0
9,000000001403B,0,0,0,0,1,1,0,0,0,0,0,0,0,0
10,000000001271A,0,0,0,0,0,0,1,1,0,0,0,0,0,0
11,000000001271B,0,0,0,0,0,0,0,1,0,0,0,0,0,0
12,000000001253A,0,0,0,0,0,0,0,0,1,1,0,0,0,0
13,000000001253B,0,0,0,0,0,0,1,0,1,0,0,0,0,0
14,000000001401A,0,0,0,0,0,0,0,0,1,1,0,0,0,0
15,000000001401B,0,0,0,0,0,0,0,0,0,1,1,0,0,0
16,000000001283A,0,0,0,0,0,0,0,0,0,0,1,1,0,0
17,000000001283B,0,0,0,0,0,0,0,0,0,0,0,1,0,0
18,000000001258A,0,0,0,0,0,0,0,0,0,0,1,0,1,0
19,000000001258B,0,0,0,0,0,0,0,0,0,0,0,0,1,1
20,000000001256A,0,0,0,0,0,0,0,0,0,0,0,0,1,1
21,000000001256B,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
df1 = pd.merge(df, df_link, left_on='id', right_on='Id').drop('Id',axis=1)
df1

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000001271A,2021-01-01 00:00:00,"51.86242, -8.47908",17,0,0.0,0,3.2,0,2.4,...,0,0,1,1,0,0,0,0,0,0
1,000000001271A,2021-01-01 01:00:00,"51.86242, -8.47908",7,0,0.0,0,3.0,0,2.5,...,0,0,1,1,0,0,0,0,0,0
2,000000001271A,2021-01-01 02:00:00,"51.86242, -8.47908",8,0,0.0,0,3.0,0,2.3,...,0,0,1,1,0,0,0,0,0,0
3,000000001271A,2021-01-01 03:00:00,"51.86242, -8.47908",8,0,0.0,0,2.9,0,2.3,...,0,0,1,1,0,0,0,0,0,0
4,000000001271A,2021-01-01 04:00:00,"51.86242, -8.47908",5,0,0.0,0,2.6,0,2.0,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001256B,2021-12-31 19:00:00,"51.88825, -8.39061",768,0,0.4,0,11.6,0,11.6,...,0,0,0,0,0,0,0,0,0,1
192716,000000001256B,2021-12-31 20:00:00,"51.88825, -8.39061",531,0,0.3,0,11.6,0,11.5,...,0,0,0,0,0,0,0,0,0,1
192717,000000001256B,2021-12-31 21:00:00,"51.88825, -8.39061",277,2,0.0,0,11.4,0,11.2,...,0,0,0,0,0,0,0,0,0,1
192718,000000001256B,2021-12-31 22:00:00,"51.88825, -8.39061",212,2,0.0,0,11.1,0,10.9,...,0,0,0,0,0,0,0,0,0,1
192719,000000001256B,2021-12-31 23:00:00,"51.88825, -8.39061",146,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
df1 = df1.sort_values(["datetime", "id"]).reset_index(drop=True)

In [ ]:
df1

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,0,0,0,0,1,1,0,0,0,0
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,0,0,1,0,1,0,0,0,0,0
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,0,0
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,0,0
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,1,1,0,0,0,0,0,0,0,0
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,1,0,0,0,0,0,0,0,0,0
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df1.to_csv("final_data_3.csv", index=False)
!mv /content/final_data_3.csv "/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset"

# P3

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/final_data_3.csv")
df

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,0,0,0,0,1,1,0,0,0,0
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,0,0,1,0,1,0,0,0,0,0
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,0,0
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,0,0
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,1,1,0,0,0,0,0,0,0,0
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,1,0,0,0,0,0,0,0,0,0
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df['datetime'] = df['datetime'].astype('datetime64')

In [ ]:
df1 = df.copy()

In [ ]:
df1

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,GL2,1271,1253,1401,GL3,1283,1258,1256,weekday,weekend
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,0,0,1,1,0,0,0,0,4,0
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,1,0,1,0,0,0,0,0,4,0
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,4,0
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,4,0
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,1,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0

In [ ]:
df1['weekend'].value_counts()

0    137808
1     54912
Name: weekend, dtype: int64

In [ ]:
54912/137808

0.39846743295019155

In [ ]:
2/5

0.4

In [ ]:
df1["weekday"] = -1
df1["weekend"] = 0

In [ ]:
for i in range(len(df1)):
  weekday = df1.loc[i, "datetime"].weekday()
  df1.loc[i, "weekday"] = weekday
  if (weekday == 5) | (weekday == 6):
     df1.loc[i, "weekend"] = 1

In [ ]:
df1.loc[578, "datetime"].weekday()

5

In [ ]:
df1.to_csv("final_data_4.csv", index=False)
!mv /content/final_data_4.csv "/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset"

# P4

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/final_data_4.csv")
df

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,GL2,1271,1253,1401,GL3,1283,1258,1256,weekday,weekend
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,0,0,1,1,0,0,0,0,4,0
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,1,0,1,0,0,0,0,0,4,0
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,4,0
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,4,0
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,1,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,4,0

In [ ]:
df

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,1253,1401,GL3,1283,1258,1256,weekday,weekend,lat,long
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,1,1,0,0,0,0,4,0,51.87488,-8.44783
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,1,0,0,0,0,0,4,0,51.87488,-8.44783
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,4,0,51.87636,-8.56072
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,4,0,51.87636,-8.56072
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,0,0,1,1,4,0,51.88825,-8.39061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.87567,-8.51047
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.87281,-8.53436
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.87281,-8.53436
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.88714,-8.56911
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.88714,-8.56911

In [ ]:
df['lat'] = 0.0
df['long'] = 0.0

In [ ]:
for i in range(len(df)):
  df.loc[i, "lat"] = float(df.loc[i, "location"].split(", ")[0])
  df.loc[i, "long"] = float(df.loc[i, "location"].split(", ")[1])

In [ ]:
df.to_csv("final_data_5.csv", index=False)
!mv /content/final_data_5.csv "/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset"

# Get data for demo

In [ ]:
import datetime
import requests
import pandas as pd

In [ ]:
location_df = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/Location_Official_2.csv")
# location_df = location_df[:2]
location_df

,Site Name,SgidSpid,Location
0,TMU N27 000.0 N,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F9E3793B6432,"51.86242, -8.47908"
1,TMU N40 005.5 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=00CB482ECD32,"51.87619, -8.49964"
2,TMU N40 004.5 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=275F808BB259,"51.87567, -8.51047"
3,TMU N40 002.5 E,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F5FD2E754102,"51.87281, -8.53436"
4,TMU N40 000.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=36F804B24689,"51.87636, -8.56072"
5,TMU N22 010.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=2E424106C30B,"51.88714, -8.56911"
6,TMU N40 010.0 E,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=0020B40EAB83,"51.87488, -8.44783"
7,TMU N40 005.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=B4B084EBD8B7,"51.87942, -8.43249"
8,TMU N28 001.0 S,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=55F77DFA0999,"51.87578, -8.41266"
9,TMU N40 010.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=5C82E9FCACEC,"51.88229, -8.4076"
10,TMU N40 015.0 W,sgid=XZOA8M4LR27P0HAO3_SRSB&spid=7709C672BB02,"51.88825, -8.39061"

In [ ]:
str(datetime.datetime.today().date())

'2022-06-22'

In [ ]:
str(datetime.datetime.today().date() - datetime.timedelta(days=26))

'2022-05-27'

In [ ]:
df = pd.DataFrame()
index = 0

end = str(datetime.datetime.today().date() - datetime.timedelta(days=22))
start = str(datetime.datetime.today().date() - datetime.timedelta(days=26))

list_hour_today = []

for h in range(24):
  if h < 10:
    list_hour_today.append(str(datetime.datetime.today().date()) + " 0{}:00:00".format(h))
  else:
    list_hour_today.append(str(datetime.datetime.today().date()) + " {}:00:00".format(h))

for i in range(len(location_df)):
  location = location_df["Location"][i]
  sgid_spid = location_df["SgidSpid"][i]
  print("Location " + str(i) + ": " + location_df["Site Name"][i])

  for j in [-1,-2]:
    file_url = "https://trafficdata.tii.ie/tfdaysreport.asp?{}&reportdate={}&enddate={}&dir={}&excel=1".format(sgid_spid, start, end, j)
    print(str(index) + " - " + file_url)
    # file_data = requests.get(file_url).content
    # # create the file in write binary mode, because the data we get from net is in binary
    # with open("file.xls", "wb") as file:
    #     file.write(file_data)
    data = pd.read_html("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/data_27_5-31_5/tfdaysreport ({}).xls".format(index))
    df2 = data[5]
    id = data[0][1][1]
    df2 = df2.iloc[:24, :-3]
    df2.columns = [x[1] for x in df2.columns]
    df2 = df2.melt(id_vars=['Time'], var_name=['Date'])
    df2["datetime"] = df2["Date"] + " " + df2["Time"]
    df2 = df2[["datetime", "value"]]
    df2["datetime"] = df2["datetime"].astype("datetime64")
    # df2["value"] = df2["value"].astype("int64")
    if (j == -1):
      df2["id"] = id + "A"   
    else:
      df2["id"] = id + "B" 
    df2["location"] = location
    df2 = df2[["id", "datetime", "location", "value"]]

    # df3 = pd.DataFrame(df2.id[:24])
    # df3['datetime'] = list_hour_today
    # df3["datetime"] = df3["datetime"].astype("datetime64")
    # df3['location'] = location
    # df3['value'] = 0

    # df4 = pd.concat([df2[-50:], df3], ignore_index=True)
    

    df = pd.concat([df, df2], ignore_index=True)
    index = index + 1

df

Location 0: TMU N27 000.0 N
0 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F9E3793B6432&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
1 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F9E3793B6432&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 1: TMU N40 005.5 W
2 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=00CB482ECD32&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
3 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=00CB482ECD32&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 2: TMU N40 004.5 W
4 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=275F808BB259&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
5 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=275F808BB259&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 3: TMU N40 002.5 E
6 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F5FD2E754102&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
7 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=F5FD2E754102&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 4: TMU N40 000.0 W
8 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=36F804B24689&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
9 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=36F804B24689&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 5: TMU N22 010.0 W
10 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=2E424106C30B&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
11 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=2E424106C30B&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 6: TMU N40 010.0 E
12 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=0020B40EAB83&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
13 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=0020B40EAB83&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 7: TMU N40 005.0 W
14 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=B4B084EBD8B7&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
15 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=B4B084EBD8B7&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 8: TMU N28 001.0 S
16 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=55F77DFA0999&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
17 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=55F77DFA0999&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 9: TMU N40 010.0 W
18 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=5C82E9FCACEC&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
19 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=5C82E9FCACEC&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1
Location 10: TMU N40 015.0 W
20 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=7709C672BB02&reportdate=2022-05-27&enddate=2022-05-31&dir=-1&excel=1
21 - https://trafficdata.tii.ie/tfdaysreport.asp?sgid=XZOA8M4LR27P0HAO3_SRSB&spid=7709C672BB02&reportdate=2022-05-27&enddate=2022-05-31&dir=-2&excel=1

                 id            datetime            location value
0     000000001271A 2022-05-27 00:00:00  51.86242, -8.47908   163
1     000000001271A 2022-05-27 01:00:00  51.86242, -8.47908    22
2     000000001271A 2022-05-27 02:00:00  51.86242, -8.47908    91
3     000000001271A 2022-05-27 03:00:00  51.86242, -8.47908    38
4     000000001271A 2022-05-27 04:00:00  51.86242, -8.47908    91
...             ...                 ...                 ...   ...
2635  000000001256B 2022-05-31 19:00:00  51.88825, -8.39061  1754
2636  000000001256B 2022-05-31 20:00:00  51.88825, -8.39061  1200
2637  000000001256B 2022-05-31 21:00:00  51.88825, -8.39061   839
2638  000000001256B 2022-05-31 22:00:00  51.88825, -8.39061   558
2639  000000001256B 2022-05-31 23:00:00  51.88825, -8.39061   317

[2640 rows x 4 columns]

In [ ]:
df_link = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/Link_Official.csv")
df_link

,Id,20223,GL1,1255,1405,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000020223A,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1,000000020223B,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,000000001255A,0,1,1,0,0,0,0,0,0,0,0,0,0,0
3,000000001255B,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,000000001405A,0,0,0,1,1,0,0,0,0,0,0,0,0,0
5,000000001405B,0,0,1,1,0,0,0,0,0,0,0,0,0,0
6,000000001404A,0,0,0,1,1,0,0,0,0,0,0,0,0,0
7,000000001404B,0,0,0,0,1,1,0,0,0,0,0,0,0,0
8,000000001403A,0,0,0,0,0,1,1,0,0,0,0,0,0,0
9,000000001403B,0,0,0,0,1,1,0,0,0,0,0,0,0,0
10,000000001271A,0,0,0,0,0,0,1,1,0,0,0,0,0,0
11,000000001271B,0,0,0,0,0,0,0,1,0,0,0,0,0,0
12,000000001253A,0,0,0,0,0,0,0,0,1,1,0,0,0,0
13,000000001253B,0,0,0,0,0,0,1,0,1,0,0,0,0,0
14,000000001401A,0,0,0,0,0,0,0,0,1,1,0,0,0,0
15,000000001401B,0,0,0,0,0,0,0,0,0,1,1,0,0,0
16,000000001283A,0,0,0,0,0,0,0,0,0,0,1,1,0,0
17,000000001283B,0,0,0,0,0,0,0,0,0,0,0,1,0,0
18,000000001258A,0,0,0,0,0,0,0,0,0,0,1,0,1,0
19,000000001258B,0,0,0,0,0,0,0,0,0,0,0,0,1,1
20,000000001256A,0,0,0,0,0,0,0,0,0,0,0,0,1,1
21,000000001256B,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
df1 = pd.merge(df, df_link, left_on='id', right_on='Id').drop('Id',axis=1)
df1

,id,datetime,location,value,20223,GL1,1255,1405,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000001271A,2022-05-27 00:00:00,"51.86242, -8.47908",163,0,0,0,0,0,0,1,1,0,0,0,0,0,0
1,000000001271A,2022-05-27 01:00:00,"51.86242, -8.47908",22,0,0,0,0,0,0,1,1,0,0,0,0,0,0
2,000000001271A,2022-05-27 02:00:00,"51.86242, -8.47908",91,0,0,0,0,0,0,1,1,0,0,0,0,0,0
3,000000001271A,2022-05-27 03:00:00,"51.86242, -8.47908",38,0,0,0,0,0,0,1,1,0,0,0,0,0,0
4,000000001271A,2022-05-27 04:00:00,"51.86242, -8.47908",91,0,0,0,0,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,000000001256B,2022-05-31 19:00:00,"51.88825, -8.39061",1754,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2636,000000001256B,2022-05-31 20:00:00,"51.88825, -8.39061",1200,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2637,000000001256B,2022-05-31 21:00:00,"51.88825, -8.39061",839,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2638,000000001256B,2022-05-31 22:00:00,"51.88825, -8.39061",558,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2639,000000001256B,2022-05-31 23:00:00,"51.88825, -8.39061",317,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
df1 = df1.sort_values(["datetime", "id"]).reset_index(drop=True)

In [ ]:
df1

,id,datetime,location,value,20223,GL1,1255,1405,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000001253A,2022-05-27 00:00:00,"51.87488, -8.44783",419,0,0,0,0,0,0,0,0,1,1,0,0,0,0
1,000000001253B,2022-05-27 00:00:00,"51.87488, -8.44783",232,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,000000001255A,2022-05-27 00:00:00,"51.87636, -8.56072",152,0,1,1,0,0,0,0,0,0,0,0,0,0,0
3,000000001255B,2022-05-27 00:00:00,"51.87636, -8.56072",78,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,000000001256A,2022-05-27 00:00:00,"51.88825, -8.39061",106,0,0,0,0,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,000000001404B,2022-05-31 23:00:00,"51.87567, -8.51047",220,0,0,0,0,1,1,0,0,0,0,0,0,0,0
2636,000000001405A,2022-05-31 23:00:00,"51.87281, -8.53436",155,0,0,0,1,1,0,0,0,0,0,0,0,0,0
2637,000000001405B,2022-05-31 23:00:00,"51.87281, -8.53436",279,0,0,1,1,0,0,0,0,0,0,0,0,0,0
2638,000000020223A,2022-05-31 23:00:00,"51.88714, -8.56911",118,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2639,000000020223B,2022-05-31 23:00:00,"51.88714, -8.56911",79,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
df1['lat'] = 0.0
df1['long'] = 0.0

In [ ]:
for i in range(len(df1)):
  df1.loc[i, "lat"] = float(df1.loc[i, "location"].split(", ")[0])
  df1.loc[i, "long"] = float(df1.loc[i, "location"].split(", ")[1])

In [ ]:
df1

,id,datetime,location,value,20223,GL1,1255,1405,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256,lat,long
0,000000001253A,2022-05-27 00:00:00,"51.87488, -8.44783",419,0,0,0,0,0,0,0,0,1,1,0,0,0,0,51.87488,-8.44783
1,000000001253B,2022-05-27 00:00:00,"51.87488, -8.44783",232,0,0,0,0,0,0,1,0,1,0,0,0,0,0,51.87488,-8.44783
2,000000001255A,2022-05-27 00:00:00,"51.87636, -8.56072",152,0,1,1,0,0,0,0,0,0,0,0,0,0,0,51.87636,-8.56072
3,000000001255B,2022-05-27 00:00:00,"51.87636, -8.56072",78,0,0,1,1,0,0,0,0,0,0,0,0,0,0,51.87636,-8.56072
4,000000001256A,2022-05-27 00:00:00,"51.88825, -8.39061",106,0,0,0,0,0,0,0,0,0,0,0,0,1,1,51.88825,-8.39061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,000000001404B,2022-05-31 23:00:00,"51.87567, -8.51047",220,0,0,0,0,1,1,0,0,0,0,0,0,0,0,51.87567,-8.51047
2636,000000001405A,2022-05-31 23:00:00,"51.87281, -8.53436",155,0,0,0,1,1,0,0,0,0,0,0,0,0,0,51.87281,-8.53436
2637,000000001405B,2022-05-31 23:00:00,"51.87281, -8.53436",279,0,0,1,1,0,0,0,0,0,0,0,0,0,0,51.87281,-8.53436
2638,000000020223A,2022-05-31 23:00:00,"51.88714, -8.56911",118,1,1,0,0,0,0,0,0,0,0,0,0,0,0,51.88714,-8.56911
2639,000000020223B,2022-05-31 23:00:00,"51.88714, -8.56911",79,1,0,0,0,0,0,0,0,0,0,0,0,0,0,51.88714,-8.56911

In [ ]:
df1.to_csv("demo_data_27_5_31_5.csv", index=False)
!mv /content/demo_data_27_5_31_5.csv "/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset"

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Khoá luận tốt nghiệp/Dataset/final_data_demo_17_6_21_6.csv")
df

,id,datetime,value,20223,GL1,1255,1405,1404,1403,GL2,...,1401,GL3,1283,1258,1256,lat,long,vis,rhum,sun
0,000000001253A,2022-06-17 00:00:00,305,0,0,0,0,0,0,0,...,1,0,0,0,0,51.87488,-8.44783,17000,94,0.0
1,000000001253B,2022-06-17 00:00:00,212,0,0,0,0,0,0,1,...,0,0,0,0,0,51.87488,-8.44783,17000,94,0.0
2,000000001255A,2022-06-17 00:00:00,111,0,1,1,0,0,0,0,...,0,0,0,0,0,51.87636,-8.56072,17000,94,0.0
3,000000001255B,2022-06-17 00:00:00,87,0,0,1,1,0,0,0,...,0,0,0,0,0,51.87636,-8.56072,17000,94,0.0
4,000000001256A,2022-06-17 00:00:00,130,0,0,0,0,0,0,0,...,0,0,0,1,1,51.88825,-8.39061,17000,94,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,000000001404B,2022-06-21 23:00:00,257,0,0,0,0,1,1,0,...,0,0,0,0,0,51.87567,-8.51047,10000,82,0.0
2636,000000001405A,2022-06-21 23:00:00,166,0,0,0,1,1,0,0,...,0,0,0,0,0,51.87281,-8.53436,10000,82,0.0
2637,000000001405B,2022-06-21 23:00:00,225,0,0,1,1,0,0,0,...,0,0,0,0,0,51.87281,-8.53436,10000,82,0.0
2638,000000020223A,2022-06-21 23:00:00,78,1,1,0,0,0,0,0,...,0,0,0,0,0,51.88714,-8.56911,10000,82,0.0
2639,000000020223B,2022-06-21 23:00:00,84,1,0,0,0,0,0,0,...,0,0,0,0,0,51.88714,-8.56911,10000,82,0.0

In [ ]:
df["vis"]

0         25000
1         25000
2         25000
3         25000
4         25000
          ...
192715     6000
192716     6000
192717     6000
192718     6000
192719     6000
Name: vis, Length: 192720, dtype: int64