In [2]:
import pandas as pd

In [13]:
df = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_5.csv")
df[df.id=='000000001253A'][['id','datetime','location','value']]

                   id             datetime            location  value
0       000000001253A  2021-01-01 00:00:00  51.87488, -8.44783    145
22      000000001253A  2021-01-01 01:00:00  51.87488, -8.44783     93
44      000000001253A  2021-01-01 02:00:00  51.87488, -8.44783     64
66      000000001253A  2021-01-01 03:00:00  51.87488, -8.44783     42
88      000000001253A  2021-01-01 04:00:00  51.87488, -8.44783     35
...               ...                  ...                 ...    ...
192610  000000001253A  2021-12-31 19:00:00  51.87488, -8.44783   1047
192632  000000001253A  2021-12-31 20:00:00  51.87488, -8.44783    813
192654  000000001253A  2021-12-31 21:00:00  51.87488, -8.44783    458
192676  000000001253A  2021-12-31 22:00:00  51.87488, -8.44783    367
192698  000000001253A  2021-12-31 23:00:00  51.87488, -8.44783    214

[8760 rows x 4 columns]

In [12]:
df = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_5.csv")
df[df.id=='000000001253A'][['id','datetime','location','lat','long','value']]

,id,datetime,location,lat,long,value
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",51.87488,-8.44783,145
22,000000001253A,2021-01-01 01:00:00,"51.87488, -8.44783",51.87488,-8.44783,93
44,000000001253A,2021-01-01 02:00:00,"51.87488, -8.44783",51.87488,-8.44783,64
66,000000001253A,2021-01-01 03:00:00,"51.87488, -8.44783",51.87488,-8.44783,42
88,000000001253A,2021-01-01 04:00:00,"51.87488, -8.44783",51.87488,-8.44783,35
...,...,...,...,...,...,...
192610,000000001253A,2021-12-31 19:00:00,"51.87488, -8.44783",51.87488,-8.44783,1047
192632,000000001253A,2021-12-31 20:00:00,"51.87488, -8.44783",51.87488,-8.44783,813
192654,000000001253A,2021-12-31 21:00:00,"51.87488, -8.44783",51.87488,-8.44783,458
192676,000000001253A,2021-12-31 22:00:00,"51.87488, -8.44783",51.87488,-8.44783,367
192698,000000001253A,2021-12-31 23:00:00,"51.87488, -8.44783",51.87488,-8.44783,214

In [21]:
df = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_6.csv")
df[['id','datetime','lat','long','value']]

                   id             datetime       lat     long  value
0       000000001253A  2021-01-01 00:00:00  51.87488 -8.44783    145
1       000000001253B  2021-01-01 00:00:00  51.87488 -8.44783    121
2       000000001255A  2021-01-01 00:00:00  51.87636 -8.56072     47
3       000000001255B  2021-01-01 00:00:00  51.87636 -8.56072     52
4       000000001256A  2021-01-01 00:00:00  51.88825 -8.39061     70
...               ...                  ...       ...      ...    ...
192715  000000001404B  2021-12-31 23:00:00  51.87567 -8.51047    110
192716  000000001405A  2021-12-31 23:00:00  51.87281 -8.53436     81
192717  000000001405B  2021-12-31 23:00:00  51.87281 -8.53436    104
192718  000000020223A  2021-12-31 23:00:00  51.88714 -8.56911     27
192719  000000020223B  2021-12-31 23:00:00  51.88714 -8.56911     43

[192720 rows x 5 columns]

In [20]:
df = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_6.csv")
df[['id','datetime','lat','long','rhum','sun','vis','value']]

,id,datetime,lat,long,rhum,sun,vis,value
0,000000001253A,2021-01-01 00:00:00,51.87488,-8.44783,86,0.0,25000,145
1,000000001253B,2021-01-01 00:00:00,51.87488,-8.44783,86,0.0,25000,121
2,000000001255A,2021-01-01 00:00:00,51.87636,-8.56072,86,0.0,25000,47
3,000000001255B,2021-01-01 00:00:00,51.87636,-8.56072,86,0.0,25000,52
4,000000001256A,2021-01-01 00:00:00,51.88825,-8.39061,86,0.0,25000,70
...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,51.87567,-8.51047,95,0.0,6000,110
192716,000000001405A,2021-12-31 23:00:00,51.87281,-8.53436,95,0.0,6000,81
192717,000000001405B,2021-12-31 23:00:00,51.87281,-8.53436,95,0.0,6000,104
192718,000000020223A,2021-12-31 23:00:00,51.88714,-8.56911,95,0.0,6000,27
192719,000000020223B,2021-12-31 23:00:00,51.88714,-8.56911,95,0.0,6000,43

In [23]:
df = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_6.csv")
df[['id', 'datetime', 'lat','long','rhum','sun','vis', '20223', 'GL1',
       '1255', '1405', '1404', '1403', 'GL2', '1271', '1253', '1401', 'GL3',
       '1283', '1258', '1256', 'value']]

,id,datetime,lat,long,rhum,sun,vis,20223,GL1,1255,...,1403,GL2,1271,1253,1401,GL3,1283,1258,1256,value
0,000000001253A,2021-01-01 00:00:00,51.87488,-8.44783,86,0.0,25000,0,0,0,...,0,0,0,1,1,0,0,0,0,145
1,000000001253B,2021-01-01 00:00:00,51.87488,-8.44783,86,0.0,25000,0,0,0,...,0,1,0,1,0,0,0,0,0,121
2,000000001255A,2021-01-01 00:00:00,51.87636,-8.56072,86,0.0,25000,0,1,1,...,0,0,0,0,0,0,0,0,0,47
3,000000001255B,2021-01-01 00:00:00,51.87636,-8.56072,86,0.0,25000,0,0,1,...,0,0,0,0,0,0,0,0,0,52
4,000000001256A,2021-01-01 00:00:00,51.88825,-8.39061,86,0.0,25000,0,0,0,...,0,0,0,0,0,0,0,1,1,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,51.87567,-8.51047,95,0.0,6000,0,0,0,...,1,0,0,0,0,0,0,0,0,110
192716,000000001405A,2021-12-31 23:00:00,51.87281,-8.53436,95,0.0,6000,0,0,0,...,0,0,0,0,0,0,0,0,0,81
192717,000000001405B,2021-12-31 23:00:00,51.87281,-8.53436,95,0.0,6000,0,0,1,...,0,0,0,0,0,0,0,0,0,104
192718,000000020223A,2021-12-31 23:00:00,51.88714,-8.56911,95,0.0,6000,1,1,0,...,0,0,0,0,0,0,0,0,0,27
192719,000000020223B,2021-12-31 23:00:00,51.88714,-8.56911,95,0.0,6000,1,0,0,...,0,0,0,0,0,0,0,0,0,43

In [22]:
df.columns

Index(['id', 'datetime', 'value', 'irain', 'rain', 'itemp', 'temp', 'iwb',
       'wetb', 'dewpt', 'vappr', 'rhum', 'msl', 'iwdsp', 'wdsp', 'iwddir',
       'wddir', 'ww', 'w', 'sun', 'vis', 'clht', 'clamt', '20223', 'GL1',
       '1255', '1405', '1404', '1403', 'GL2', '1271', '1253', '1401', 'GL3',
       '1283', '1258', '1256', 'weekday', 'weekend', 'lat', 'long', 'holiday'],
      dtype='object')