In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_3.csv")
data['datetime'] = data['datetime'].astype('datetime64')
data

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,1404,1403,GL2,1271,1253,1401,GL3,1283,1258,1256
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,0,0,0,0,1,1,0,0,0,0
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,0,0,1,0,1,0,0,0,0,0
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,0,0
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,0,0
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,1,1,0,0,0,0,0,0,0,0
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,1,0,0,0,0,0,0,0,0,0
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192720 entries, 0 to 192719
Data columns (total 38 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        192720 non-null  object
 1   datetime  192720 non-null  datetime64[ns]
 2   location  192720 non-null  object
 3   value     192720 non-null  int64
 4   irain     192720 non-null  int64
 5   rain      192720 non-null  float64
 6   itemp     192720 non-null  int64
 7   temp      192720 non-null  float64
 8   iwb       192720 non-null  int64
 9   wetb      192720 non-null  float64
 10  dewpt     192720 non-null  float64
 11  vappr     192720 non-null  float64
 12  rhum      192720 non-null  int64
 13  msl       192720 non-null  float64
 14  iwdsp     192720 non-null  int64
 15  wdsp      192720 non-null  int64
 16  iwddir    192720 non-null  int64
 17  wddir     192720 non-null  int64
 18  ww        192720 non-null  int64
 19  w         192720 non-null  int64
 20  sun       192720 non-null  float64
 21  vis       192720 non-null  int64
 22  clht      192720 non-null  int64
 23  clamt     192720 non-null  int64
 24  20223     192720 non-null  int64
 25  GL1       192720 non-null  int64
 26  1255      192720 non-null  int64
 27  1405      192720 non-null  int64
 28  1404      192720 non-null  int64
 29  1403      192720 non-null  int64
 30  GL2       192720 non-null  int64
 31  1271      192720 non-null  int64
 32  1253      192720 non-null  int64
 33  1401      192720 non-null  int64
 34  GL3       192720 non-null  int64
 35  1283      192720 non-null  int64
 36  1258      192720 non-null  int64
 37  1256      192720 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(28), object(2)
memory usage: 55.9+ MB

In [5]:
data['isWeekend'] = data['datetime'].dt.weekday > 4

for i in range(len(data)):
  data['isWeekend'][i] = int(data['isWeekend'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [6]:
data['isWeekend'].value_counts()

0    137808
1     54912
Name: isWeekend, dtype: int64

## **is Holiday?**

In [35]:
data = pd.read_csv("/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_5.csv")
data['datetime'] = data['datetime'].astype('datetime64')
data

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,1253,1401,GL3,1283,1258,1256,weekday,weekend,lat,long
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,1,1,0,0,0,0,4,0,51.87488,-8.44783
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,1,0,0,0,0,0,4,0,51.87488,-8.44783
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,4,0,51.87636,-8.56072
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,0,0,4,0,51.87636,-8.56072
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,0,0,1,1,4,0,51.88825,-8.39061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.87567,-8.51047
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.87281,-8.53436
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.87281,-8.53436
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.88714,-8.56911
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,0,0,4,0,51.88714,-8.56911

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192720 entries, 0 to 192719
Data columns (total 42 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        192720 non-null  object
 1   datetime  192720 non-null  datetime64[ns]
 2   location  192720 non-null  object
 3   value     192720 non-null  int64
 4   irain     192720 non-null  int64
 5   rain      192720 non-null  float64
 6   itemp     192720 non-null  int64
 7   temp      192720 non-null  float64
 8   iwb       192720 non-null  int64
 9   wetb      192720 non-null  float64
 10  dewpt     192720 non-null  float64
 11  vappr     192720 non-null  float64
 12  rhum      192720 non-null  int64
 13  msl       192720 non-null  float64
 14  iwdsp     192720 non-null  int64
 15  wdsp      192720 non-null  int64
 16  iwddir    192720 non-null  int64
 17  wddir     192720 non-null  int64
 18  ww        192720 non-null  int64
 19  w         192720 non-null  int64
 20  sun       192720 non-null  float64
 21  vis       192720 non-null  int64
 22  clht      192720 non-null  int64
 23  clamt     192720 non-null  int64
 24  20223     192720 non-null  int64
 25  GL1       192720 non-null  int64
 26  1255      192720 non-null  int64
 27  1405      192720 non-null  int64
 28  1404      192720 non-null  int64
 29  1403      192720 non-null  int64
 30  GL2       192720 non-null  int64
 31  1271      192720 non-null  int64
 32  1253      192720 non-null  int64
 33  1401      192720 non-null  int64
 34  GL3       192720 non-null  int64
 35  1283      192720 non-null  int64
 36  1258      192720 non-null  int64
 37  1256      192720 non-null  int64
 38  weekday   192720 non-null  int64
 39  weekend   192720 non-null  int64
 40  lat       192720 non-null  float64
 41  long      192720 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(30), object(2)
memory usage: 61.8+ MB

In [43]:
data['holiday'] = data['datetime'].dt.date
data['holiday'] = data['holiday'].astype('str')
data

,id,datetime,location,value,irain,rain,itemp,temp,iwb,wetb,...,GL3,1283,1258,1256,weekday,weekend,lat,long,just_date,holiday
0,000000001253A,2021-01-01 00:00:00,"51.87488, -8.44783",145,0,0.0,0,3.2,0,2.4,...,0,0,0,0,4,0,51.87488,-8.44783,2021-01-01,2021-01-01
1,000000001253B,2021-01-01 00:00:00,"51.87488, -8.44783",121,0,0.0,0,3.2,0,2.4,...,0,0,0,0,4,0,51.87488,-8.44783,2021-01-01,2021-01-01
2,000000001255A,2021-01-01 00:00:00,"51.87636, -8.56072",47,0,0.0,0,3.2,0,2.4,...,0,0,0,0,4,0,51.87636,-8.56072,2021-01-01,2021-01-01
3,000000001255B,2021-01-01 00:00:00,"51.87636, -8.56072",52,0,0.0,0,3.2,0,2.4,...,0,0,0,0,4,0,51.87636,-8.56072,2021-01-01,2021-01-01
4,000000001256A,2021-01-01 00:00:00,"51.88825, -8.39061",70,0,0.0,0,3.2,0,2.4,...,0,0,1,1,4,0,51.88825,-8.39061,2021-01-01,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,"51.87567, -8.51047",110,0,0.0,0,11.0,0,10.6,...,0,0,0,0,4,0,51.87567,-8.51047,2021-12-31,2021-12-31
192716,000000001405A,2021-12-31 23:00:00,"51.87281, -8.53436",81,0,0.0,0,11.0,0,10.6,...,0,0,0,0,4,0,51.87281,-8.53436,2021-12-31,2021-12-31
192717,000000001405B,2021-12-31 23:00:00,"51.87281, -8.53436",104,0,0.0,0,11.0,0,10.6,...,0,0,0,0,4,0,51.87281,-8.53436,2021-12-31,2021-12-31
192718,000000020223A,2021-12-31 23:00:00,"51.88714, -8.56911",27,0,0.0,0,11.0,0,10.6,...,0,0,0,0,4,0,51.88714,-8.56911,2021-12-31,2021-12-31
192719,000000020223B,2021-12-31 23:00:00,"51.88714, -8.56911",43,0,0.0,0,11.0,0,10.6,...,0,0,0,0,4,0,51.88714,-8.56911,2021-12-31,2021-12-31

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192720 entries, 0 to 192719
Data columns (total 44 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         192720 non-null  object
 1   datetime   192720 non-null  datetime64[ns]
 2   location   192720 non-null  object
 3   value      192720 non-null  int64
 4   irain      192720 non-null  int64
 5   rain       192720 non-null  float64
 6   itemp      192720 non-null  int64
 7   temp       192720 non-null  float64
 8   iwb        192720 non-null  int64
 9   wetb       192720 non-null  float64
 10  dewpt      192720 non-null  float64
 11  vappr      192720 non-null  float64
 12  rhum       192720 non-null  int64
 13  msl        192720 non-null  float64
 14  iwdsp      192720 non-null  int64
 15  wdsp       192720 non-null  int64
 16  iwddir     192720 non-null  int64
 17  wddir      192720 non-null  int64
 18  ww         192720 non-null  int64
 19  w          192720 non-null  int64
 20  sun        192720 non-null  float64
 21  vis        192720 non-null  int64
 22  clht       192720 non-null  int64
 23  clamt      192720 non-null  int64
 24  20223      192720 non-null  int64
 25  GL1        192720 non-null  int64
 26  1255       192720 non-null  int64
 27  1405       192720 non-null  int64
 28  1404       192720 non-null  int64
 29  1403       192720 non-null  int64
 30  GL2        192720 non-null  int64
 31  1271       192720 non-null  int64
 32  1253       192720 non-null  int64
 33  1401       192720 non-null  int64
 34  GL3        192720 non-null  int64
 35  1283       192720 non-null  int64
 36  1258       192720 non-null  int64
 37  1256       192720 non-null  int64
 38  weekday    192720 non-null  int64
 39  weekend    192720 non-null  int64
 40  lat        192720 non-null  float64
 41  long       192720 non-null  float64
 42  just_date  192720 non-null  datetime64[ns]
 43  holiday    192720 non-null  object
dtypes: datetime64[ns](2), float64(9), int64(30), object(3)
memory usage: 64.7+ MB

In [54]:
list_holiday = ['2021-01-01', '2021-03-17', '2021-04-05', '2021-05-03', '2021-06-07', '2021-08-02', '2021-10-25', '2021-12-25', '2021-12-26']

for i in range(len(data)):
  if data['holiday'][i] in list_holiday:
    data['holiday'][i] = 1
  else:
    data['holiday'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [60]:
data.drop('location',axis=1, inplace=True)
data

,id,datetime,value,irain,rain,itemp,temp,iwb,wetb,dewpt,...,1401,GL3,1283,1258,1256,weekday,weekend,lat,long,holiday
0,000000001253A,2021-01-01 00:00:00,145,0,0.0,0,3.2,0,2.4,1.0,...,1,0,0,0,0,4,0,51.87488,-8.44783,1
1,000000001253B,2021-01-01 00:00:00,121,0,0.0,0,3.2,0,2.4,1.0,...,0,0,0,0,0,4,0,51.87488,-8.44783,1
2,000000001255A,2021-01-01 00:00:00,47,0,0.0,0,3.2,0,2.4,1.0,...,0,0,0,0,0,4,0,51.87636,-8.56072,1
3,000000001255B,2021-01-01 00:00:00,52,0,0.0,0,3.2,0,2.4,1.0,...,0,0,0,0,0,4,0,51.87636,-8.56072,1
4,000000001256A,2021-01-01 00:00:00,70,0,0.0,0,3.2,0,2.4,1.0,...,0,0,0,1,1,4,0,51.88825,-8.39061,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192715,000000001404B,2021-12-31 23:00:00,110,0,0.0,0,11.0,0,10.6,10.3,...,0,0,0,0,0,4,0,51.87567,-8.51047,0
192716,000000001405A,2021-12-31 23:00:00,81,0,0.0,0,11.0,0,10.6,10.3,...,0,0,0,0,0,4,0,51.87281,-8.53436,0
192717,000000001405B,2021-12-31 23:00:00,104,0,0.0,0,11.0,0,10.6,10.3,...,0,0,0,0,0,4,0,51.87281,-8.53436,0
192718,000000020223A,2021-12-31 23:00:00,27,0,0.0,0,11.0,0,10.6,10.3,...,0,0,0,0,0,4,0,51.88714,-8.56911,0
192719,000000020223B,2021-12-31 23:00:00,43,0,0.0,0,11.0,0,10.6,10.3,...,0,0,0,0,0,4,0,51.88714,-8.56911,0

In [61]:
data.to_csv('/content/drive/MyDrive/Courses/Khoá luận tốt nghiệp/Dataset/final_data_6.csv', index=False)